@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 102vh;
  width: 100%;
  background-size: cover;
  z-index: -1;
  background-image: url("img/backGround.webp");
}

.fullA {
  text-decoration: none;
}

.mainParent {
  height: 92vh;
  width: 100%;
  position: relative;
}

.mainParent .flowers {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: -6.1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainParent .flowers .flowers1 {
  width: 80%;
  margin: 0 auto;
}

.mainParent .flowers .flowers2 {
  display: none;
}

.mainParent .mainContent {
  height: 100%;
  max-width: 80rem;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.mainParent .mainContent .eggLogo {
  width: 18rem;
  margin-left: 0rem;
  margin-top: 7rem;
  -ms-grid-column-align: center;
      justify-self: center;
  pointer-events: none;
}

.mainParent .mainContent .lowerHero .good {
  text-align: center;
  font-size: 1.6rem;
  width: 19rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  color: white;
  text-shadow: 2px 2px 2px black;
  pointer-events: none;
}

.mainParent .mainContent .lowerHero .good span {
  color: #FFD27A;
}

.mainParent .mainContent .lowerHero .explore {
  background-color: #DB5C00;
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 14px;
  margin: 0 auto;
  color: white;
  font-size: 0.8rem;
  margin-top: 3rem;
  font-weight: 500;
  letter-spacing: 2px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.mainParent .mainContent .lowerHero .explore2 {
  background-color: #4F3624;
  width: 7.9rem;
  height: 2.5rem;
  border-radius: 14px;
  margin: 0 auto;
  margin-top: -2.3rem;
  z-index: -1;
  position: relative;
}

.featured {
  width: 100%;
  height: 75rem;
  background-color: #272727;
  margin-top: 4rem;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.featured .bestDiv {
  color: white;
  margin-top: 5rem;
  text-align: center;
  font-size: 1.2rem;
}

.featured .bestDiv h1 {
  position: relative;
  width: 23rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.featured .bestDiv h1 span {
  color: #64A959;
}

.featured .foodies {
  width: 100%;
  height: 55rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.featured a .full {
  width: 11rem;
  height: 3.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DB5C00;
  border-radius: 17px;
  box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
  -webkit-box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
  -moz-box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
  margin: 0 auto;
}

.foodDiv {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foodDiv .foodPics {
  width: 10rem;
}

.foodDiv .foodNames {
  text-align: center;
  color: white;
  font-style: "Playfair Display", serif;
  background-image: url("img/best/NameBG.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2rem;
  margin-bottom: 1rem;
  padding-top: 0.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foodDiv .inasal {
  font-size: 0.8rem;
  padding-top: 1.1rem;
}

.foodDiv .chicken {
  font-size: 0.8rem;
  padding-top: 1.1rem;
}

.bestSeller:before {
  content: '';
  background-color: white;
  position: absolute;
  width: 5rem;
  height: 0.1rem;
  top: 1rem;
  left: 1.3rem;
}

.bestSeller:after {
  content: '';
  background-color: white;
  position: absolute;
  width: 5rem;
  height: 0.1rem;
  top: 1rem;
  right: 1.3rem;
}

.meals {
  width: 100%;
  height: 34rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: white;
}

.meals .mealsContainer {
  max-width: 25rem;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
  padding-top: 2rem;
}

.meals .mealsContainer .phoneContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6rem 8rem 6rem;
      grid-template-columns: 6rem 8rem 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
  margin-top: 2rem;
}

.meals .mealsContainer .phoneContainer .conv {
  width: 10rem;
  position: absolute;
}

.meals .mealsContainer .phoneContainer .conv1 {
  left: 1rem;
  top: 11rem;
}

.meals .mealsContainer .phoneContainer .conv2 {
  bottom: 0;
  right: 1rem;
}

.meals .mealsContainer .phoneContainer .phone {
  width: 5rem;
  position: relative;
  margin: 0 auto;
}

.meals .mealsContainer .phoneContainer .phone1 {
  margin-right: -0.5rem;
}

.meals .mealsContainer .phoneContainer .phone2 {
  width: 8rem;
  z-index: 2;
}

.meals .mealsContainer .phoneContainer .phone3 {
  margin-left: -0.5rem;
}

.map {
  width: 100%;
  height: 40rem;
  font-family: "Poppins", sans-serif;
  background-image: url("img/banner.webp");
  background-image: contain;
  overflow: hidden;
}

.map .mapContainer {
  width: 100%;
  height: 38rem;
  margin: 0 auto;
}

.map .mapContainer .textMap {
  text-align: center;
}

.map .mapContainer .textMap h1 {
  font-size: 2rem;
}

.map .mapContainer .textMap p {
  font-size: 1.1rem;
  font-weight: 500;
}

.map .mapContainer .textMap .near {
  margin-top: -1.6rem;
}

.map .mapContainer .textMap .tel {
  margin-top: -0.5rem;
}

.map .mapContainer .googleMap {
  width: 14rem;
  height: 14rem;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
}

@media screen and (max-width: 554px) and (min-height: 845px) {
  .mainParent .mainContent .eggLogo {
    width: 20rem;
    margin-top: 12rem;
    -ms-grid-column-align: center;
        justify-self: center;
    pointer-events: none;
  }
  .mainParent .mainContent .lowerHero .good {
    font-size: 1.9rem;
    width: 22rem;
    margin-top: 2rem;
  }
  .mainParent .mainContent .lowerHero .good span {
    color: #FFD27A;
  }
}

@media screen and (min-width: 555px) {
  .meals {
    width: 100%;
    height: 37rem;
  }
  .meals .mealsContainer {
    max-width: 35rem;
  }
  .meals .mealsContainer .phoneContainer {
    -ms-grid-columns: 8rem 10rem 8rem;
        grid-template-columns: 8rem 10rem 8rem;
    height: 25rem;
  }
  .meals .mealsContainer .phoneContainer .conv {
    width: 13rem;
  }
  .meals .mealsContainer .phoneContainer .conv1 {
    left: 1rem;
    top: 10rem;
  }
  .meals .mealsContainer .phoneContainer .conv2 {
    bottom: 0;
    right: 1rem;
  }
  .meals .mealsContainer .phoneContainer .phone {
    width: 7rem;
  }
  .meals .mealsContainer .phoneContainer .phone1 {
    margin-right: 0.5rem;
  }
  .meals .mealsContainer .phoneContainer .phone2 {
    width: 10rem;
  }
  .meals .mealsContainer .phoneContainer .phone3 {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 780px) {
  .mainParent {
    height: 92vh;
    width: 100%;
    position: relative;
  }
  .mainParent .flowers {
    position: absolute;
    width: 100%;
    height: 7rem;
    bottom: -2.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainParent .flowers .flowers1 {
    width: 80%;
    margin: 0 auto;
  }
  .mainParent .flowers .flowers2 {
    display: none;
  }
  .mainParent .mainContent {
    height: 100%;
    max-width: 80rem;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 24rem 24rem;
        grid-template-columns: 24rem 24rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainParent .mainContent .eggLogo {
    width: 22   rem;
    margin-left: -2rem;
    margin-top: 1rem;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
  }
  .mainParent .mainContent .lowerHero {
    position: relative;
  }
  .mainParent .mainContent .lowerHero .good {
    text-align: right;
    font-size: 1.8rem;
    width: 23rem;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0 auto;
    color: white;
    position: relative;
    z-index: 2;
    margin-top: -1rem;
  }
  .mainParent .mainContent .lowerHero .good span {
    color: #FFD27A;
  }
  .mainParent .mainContent .lowerHero .explore {
    background-color: #DB5C00;
    width: 8rem;
    height: 2.5rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 18px;
    margin: 0;
    color: white;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    z-index: 1;
    position: absolute;
    right: 0;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  .mainParent .mainContent .lowerHero .explore2 {
    background-color: #4F3624;
    width: 7.9rem;
    height: 2.5rem;
    border-radius: 18px;
    margin: 0;
    margin-top: 1.2em;
    z-index: -1;
    position: absolute;
    right: 0;
    margin-right: 0.55rem;
  }
  .good:before {
    content: url("img/dahon.png");
    position: absolute;
    z-index: -1;
    -webkit-transform: rotate(220deg) scale(1.8);
            transform: rotate(220deg) scale(1.8);
    right: -2rem;
    top: -4rem;
  }
  .featured {
    width: 100%;
    height: 35rem;
    background-color: #272727;
    margin-top: -1rem;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
  .featured .bestDiv {
    color: white;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.2rem;
  }
  .featured .bestDiv h1 {
    position: relative;
    width: 23rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .featured .bestDiv h1 span {
    color: #64A959;
  }
  .featured .foodies {
    width: 100%;
    height: 18rem;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 15rem 15rem 15em;
        grid-template-columns: 15rem 15rem 15em;
  }
  .featured a .full {
    width: 11rem;
    height: 3.5rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #DB5C00;
    border-radius: 17px;
    box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
    -webkit-box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
    -moz-box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
    margin: 0 auto;
  }
  .foodDiv {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foodDiv .foodPics {
    width: 10rem;
  }
  .foodDiv .foodNames {
    text-align: center;
    color: white;
    font-style: "Playfair Display", serif;
    background-image: url("img/best/NameBG.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding-top: 0.8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foodDiv .inasal {
    font-size: 0.8rem;
    padding-top: 1.1rem;
  }
  .foodDiv .chicken {
    font-size: 0.8rem;
    padding-top: 1.1rem;
  }
  .bestSeller:before {
    content: '';
    background-color: white;
    position: absolute;
    width: 5rem;
    height: 0.1rem;
    top: 1rem;
    left: 1.3rem;
  }
  .bestSeller:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 5rem;
    height: 0.1rem;
    top: 1rem;
    right: 1.3rem;
  }
  .meals {
    width: 100%;
    height: 47rem;
  }
  .meals .mealsContainer {
    max-width: 40rem;
  }
  .meals .mealsContainer h1 {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .meals .mealsContainer .phoneContainer {
    -ms-grid-columns: 10rem 12rem 10rem;
        grid-template-columns: 10rem 12rem 10rem;
    height: 31rem;
    margin-top: 1rem;
  }
  .meals .mealsContainer .phoneContainer .conv {
    width: 15rem;
  }
  .meals .mealsContainer .phoneContainer .conv1 {
    left: 1rem;
    top: 12rem;
  }
  .meals .mealsContainer .phoneContainer .conv2 {
    bottom: 0;
    right: 1rem;
  }
  .meals .mealsContainer .phoneContainer .phone {
    width: 9rem;
  }
  .meals .mealsContainer .phoneContainer .phone1 {
    margin-right: 0.5rem;
  }
  .meals .mealsContainer .phoneContainer .phone2 {
    width: 12rem;
  }
  .meals .mealsContainer .phoneContainer .phone3 {
    margin-left: 0.5rem;
  }
  .map {
    background-size: cover;
    width: 100%;
    background-position-y: -13rem;
    height: 32rem;
  }
  .map .mapContainer {
    width: 100%;
    height: 30rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20rem 20rem;
        grid-template-columns: 20rem 20rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map .mapContainer .textMap {
    text-align: left;
  }
  .map .mapContainer .textMap h1 {
    font-size: 2rem;
  }
  .map .mapContainer .textMap p {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .map .mapContainer .textMap .near {
    margin-top: -1.6rem;
  }
  .map .mapContainer .textMap .tel {
    margin-top: -0.5rem;
  }
  .map .mapContainer .googleMap {
    width: 18rem;
    height: 16rem;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 102vh;
    width: 100%;
    z-index: -1;
    background-image: url("img/backGround.webp");
  }
  .mainParent {
    height: 92vh;
    width: 100%;
    position: relative;
  }
  .mainParent .flowers {
    position: absolute;
    width: 80rem;
    height: 7rem;
    bottom: -2.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .mainParent .flowers .flowers1 {
    width: 40rem;
  }
  .mainParent .flowers .flowers2 {
    width: 40rem;
    display: block;
  }
  .mainParent .mainContent {
    height: 100%;
    max-width: 80rem;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 30rem 30rem;
        grid-template-columns: 30rem 30rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainParent .mainContent .eggLogo {
    width: 25rem;
    margin-left: 0rem;
    margin-top: 2rem;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
  }
  .mainParent .mainContent .lowerHero {
    position: relative;
  }
  .mainParent .mainContent .lowerHero .good {
    text-align: right;
    font-size: 2.3rem;
    width: 25rem;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0 auto;
    color: white;
    position: relative;
    z-index: 2;
    margin-right: 3rem;
    margin-top: -2rem;
  }
  .mainParent .mainContent .lowerHero .good span {
    color: #FFD27A;
  }
  .mainParent .mainContent .lowerHero .explore {
    background-color: #DB5C00;
    width: 8rem;
    height: 2.5rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 18px;
    margin: 0;
    color: white;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    z-index: 1;
    position: absolute;
    right: 0;
    margin-right: 2.8rem;
    cursor: pointer;
  }
  .mainParent .mainContent .lowerHero .explore2 {
    background-color: #4F3624;
    width: 7.9rem;
    height: 2.5rem;
    border-radius: 18px;
    margin: 0;
    margin-top: 1.2em;
    z-index: -1;
    position: absolute;
    right: 0;
    margin-right: 2.85rem;
  }
  .good:before {
    content: url("img/dahon.png");
    position: absolute;
    z-index: -1;
    -webkit-transform: rotate(220deg) scale(1.8);
            transform: rotate(220deg) scale(1.8);
    right: -2rem;
    top: -4rem;
  }
  .featured {
    width: 100%;
    height: 45rem;
    background-color: #272727;
    margin-top: -1rem;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
  .featured .bestDiv {
    color: white;
    margin-top: 5rem;
    text-align: center;
    font-size: 2.2rem;
  }
  .featured .bestDiv h1 {
    position: relative;
    width: 50rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .featured .bestDiv h1 span {
    color: #64A959;
  }
  .featured .foodies {
    width: 100%;
    height: 24rem;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 19rem 19rem 19em;
        grid-template-columns: 19rem 19rem 19em;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .featured a .full {
    width: 11rem;
    height: 3.5rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #DB5C00;
    border-radius: 17px;
    box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
    -webkit-box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
    -moz-box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
    margin: 0 auto;
  }
  .foodDiv {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foodDiv .foodPics {
    width: 15rem;
  }
  .foodDiv .foodNames {
    text-align: center;
    color: white;
    font-style: "Playfair Display", serif;
    background-image: url("img/best/NameBG.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding-top: 1.2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5rem;
  }
  .foodDiv .inasal {
    font-size: 1.25rem;
    padding-top: 1.35rem;
  }
  .foodDiv .chicken {
    font-size: 1.3rem;
    padding-top: 1.35rem;
    margin-right: -0.5rem;
  }
  .foodDiv .chickenPic {
    width: 14.5rem;
  }
  .bestSeller:before {
    content: '';
    background-color: white;
    position: absolute;
    width: 14rem;
    height: 0.2rem;
    top: 1.9rem;
    left: 1.3rem;
  }
  .bestSeller:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 14rem;
    height: 0.2rem;
    top: 1.9rem;
    right: 1.5rem;
  }
  .meals {
    width: 100%;
    height: 47rem;
  }
  .meals .mealsContainer {
    max-width: 55rem;
  }
  .meals .mealsContainer h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .meals .mealsContainer .phoneContainer {
    -ms-grid-columns: 13rem 15rem 13rem;
        grid-template-columns: 13rem 15rem 13rem;
    height: 33rem;
    margin-top: -2rem;
  }
  .meals .mealsContainer .phoneContainer .conv {
    width: 18rem;
  }
  .meals .mealsContainer .phoneContainer .conv1 {
    left: 1rem;
    top: 10rem;
  }
  .meals .mealsContainer .phoneContainer .conv2 {
    bottom: 0;
    right: 1rem;
  }
  .meals .mealsContainer .phoneContainer .phone {
    width: 10rem;
  }
  .meals .mealsContainer .phoneContainer .phone1 {
    margin-right: 0.5rem;
  }
  .meals .mealsContainer .phoneContainer .phone2 {
    width: 13rem;
  }
  .meals .mealsContainer .phoneContainer .phone3 {
    margin-left: 0.5rem;
  }
  .map {
    background-size: cover;
    width: 100%;
    height: 32rem;
    background-position-y: -13rem;
  }
  .map .mapContainer {
    width: 100%;
    height: 30rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25rem 25rem;
        grid-template-columns: 25rem 25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map .mapContainer .textMap {
    text-align: left;
  }
  .map .mapContainer .textMap h1 {
    font-size: 2rem;
  }
  .map .mapContainer .textMap p {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .map .mapContainer .textMap .near {
    margin-top: -1.6rem;
  }
  .map .mapContainer .textMap .tel {
    margin-top: -0.5rem;
  }
  .map .mapContainer .googleMap {
    width: 24rem;
    height: 16rem;
    margin: 0 auto;
    display: block;
    margin-top: 0rem;
  }
}

@media screen and (min-width: 1400px) and (min-height: 720px) {
  .mainParent {
    height: 92vh;
    width: 100%;
    position: relative;
  }
  .mainParent .mainContent {
    height: 100%;
    max-width: 80rem;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 35rem 35rem;
        grid-template-columns: 35rem 35rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainParent .mainContent .eggLogo {
    width: 33rem;
    margin-left: 0rem;
    margin-top: 1rem;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
  }
  .mainParent .mainContent .lowerHero {
    position: relative;
  }
  .mainParent .mainContent .lowerHero .good {
    text-align: right;
    font-size: 2.9rem;
    width: 32rem;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0 auto;
    color: white;
    position: relative;
    z-index: 2;
    margin-right: 3rem;
    margin-top: -4rem;
  }
  .mainParent .mainContent .lowerHero .good span {
    color: #FFD27A;
  }
  .mainParent .mainContent .lowerHero .explore {
    background-color: #DB5C00;
    width: 9rem;
    height: 2.8rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 22px;
    margin: 0;
    color: white;
    font-size: 1rem;
    margin-top: 1.3rem;
    font-weight: 600;
    letter-spacing: 3px;
    z-index: 1;
    position: absolute;
    right: 0;
    margin-right: 2.8rem;
    cursor: pointer;
  }
  .mainParent .mainContent .lowerHero .explore2 {
    background-color: #4F3624;
    width: 8.9rem;
    height: 2.8rem;
    border-radius: 22px;
    margin: 0;
    margin-top: 1.5em;
    z-index: -1;
    position: absolute;
    right: 0;
    margin-right: 2.85rem;
  }
  .good:before {
    content: url("img/dahon.png");
    position: absolute;
    z-index: -1;
    -webkit-transform: rotate(220deg) scale(2.7);
            transform: rotate(220deg) scale(2.7);
    right: -2rem;
    top: -4rem;
  }
  .featured {
    width: 100%;
    height: 55rem;
    background-color: #272727;
    margin-top: -1rem;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
  .featured .bestDiv {
    color: white;
    margin-top: 6rem;
    text-align: center;
    font-size: 2.6rem;
  }
  .featured .bestDiv h1 {
    position: relative;
    width: 60rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .featured .bestDiv h1 span {
    color: #64A959;
  }
  .featured .foodies {
    width: 100%;
    height: 32rem;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 24rem 24rem 24em;
        grid-template-columns: 24rem 24rem 24em;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .featured a .full {
    width: 11rem;
    height: 3.5rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #DB5C00;
    border-radius: 17px;
    box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
    -webkit-box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
    -moz-box-shadow: 1px 6px 0px -2px rgba(79, 54, 36, 0.71);
    margin: 0 auto;
  }
  .foodDiv {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foodDiv .foodPics {
    width: 19rem;
  }
  .foodDiv .foodNames {
    text-align: center;
    color: white;
    font-style: "Playfair Display", serif;
    background-image: url("img/best/NameBG.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding-top: 1.4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.6rem;
    width: 16rem;
  }
  .foodDiv .inasal {
    font-size: 1.3rem;
    padding-top: 1.6rem;
  }
  .foodDiv .chicken {
    font-size: 1.4rem;
    padding-top: 1.6rem;
  }
  .foodDiv .chickenPic {
    width: 18.5rem;
  }
  .bestSeller:before {
    content: '';
    background-color: white;
    position: absolute;
    width: 18rem;
    height: 0.2rem;
    top: 2.2rem;
    left: 1.3rem;
  }
  .bestSeller:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 18rem;
    height: 0.2rem;
    top: 2.2rem;
    right: 1.5rem;
  }
  .meals {
    width: 100%;
    height: 47rem;
  }
  .meals .mealsContainer {
    max-width: 60rem;
    margin-top: 1rem;
  }
  .meals .mealsContainer h1 {
    margin-top: 2rem;
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
  .meals .mealsContainer .phoneContainer {
    -ms-grid-columns: 14rem 17rem 14rem;
        grid-template-columns: 14rem 17rem 14rem;
    height: 33rem;
  }
  .meals .mealsContainer .phoneContainer .conv {
    width: 18rem;
  }
  .meals .mealsContainer .phoneContainer .conv1 {
    left: 1rem;
    top: 10rem;
  }
  .meals .mealsContainer .phoneContainer .conv2 {
    bottom: 0;
    right: 1rem;
  }
  .meals .mealsContainer .phoneContainer .phone {
    width: 11rem;
  }
  .meals .mealsContainer .phoneContainer .phone1 {
    margin-right: 0.5rem;
    margin: 0 auto;
  }
  .meals .mealsContainer .phoneContainer .phone2 {
    width: 14rem;
  }
  .meals .mealsContainer .phoneContainer .phone3 {
    margin-left: 0.5rem;
    margin: 0 auto;
  }
  .map {
    background-size: cover;
    width: 100%;
    height: 37rem;
    background-position-y: -13rem;
  }
  .map .mapContainer {
    width: 100%;
    height: 30rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 27rem 29rem;
        grid-template-columns: 27rem 29rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map .mapContainer .textMap {
    text-align: left;
  }
  .map .mapContainer .textMap .location {
    margin-top: 2rem;
  }
  .map .mapContainer .textMap h1 {
    font-size: 2.8rem;
    margin-top: -1rem;
  }
  .map .mapContainer .textMap p {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .map .mapContainer .textMap .near {
    margin-top: -2.3rem;
  }
  .map .mapContainer .textMap .locAd {
    margin-bottom: 5rem;
  }
  .map .mapContainer .textMap .tel {
    margin-top: -0.5rem;
  }
  .map .mapContainer .googleMap {
    width: 28rem;
    height: 18rem;
    margin: 0 auto;
    display: block;
    margin-top: 0rem;
    margin-left: 4rem;
  }
}

@media screen and (min-width: 1600px) {
  .mainParent .mainContent {
    -ms-grid-columns: 40rem 40rem;
        grid-template-columns: 40rem 40rem;
  }
  .mainParent .mainContent .eggLogo {
    width: 35rem;
    margin-left: 0rem;
    margin-top: 2rem;
  }
  .mainParent .mainContent .lowerHero .good {
    font-size: 3.3rem;
    width: 37rem;
  }
  .mainParent .mainContent .lowerHero .good span {
    color: #FFD27A;
  }
  .mainParent .mainContent .lowerHero .explore {
    margin-top: 1.5rem;
  }
  .mainParent .mainContent .lowerHero .explore2 {
    margin-top: 1.7em;
  }
  .map {
    background-size: cover;
    width: 100%;
    height: 34rem;
    background-position-y: -13rem;
  }
  .map .mapContainer {
    width: 100%;
    height: 30rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 29rem 29rem;
        grid-template-columns: 29rem 29rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map .mapContainer .textMap {
    text-align: left;
  }
  .map .mapContainer .textMap .location {
    margin-top: 2rem;
  }
  .map .mapContainer .textMap h1 {
    font-size: 2.8rem;
    margin-top: -1rem;
  }
  .map .mapContainer .textMap p {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .map .mapContainer .textMap .near {
    margin-top: -2.3rem;
  }
  .map .mapContainer .textMap .locAd {
    margin-bottom: 5rem;
  }
  .map .mapContainer .textMap .tel {
    margin-top: -0.5rem;
  }
  .map .mapContainer .googleMap {
    width: 28rem;
    height: 24rem;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    margin-left: 6rem;
  }
}
/*# sourceMappingURL=hero.css.map */